.features {
    padding-top: var(--common-padding-mobile);
    padding-bottom: var(--common-padding-mobile);

    @media screen and (min-width: 1200px) {
        padding-top: var(--common-padding);
        padding-bottom: calc(var(--common-padding) / 2);
    }
}   

.features__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.features__item {
    max-width: 450px;
    &::before {
        display: block;
        content: "";
        background-color: var(--secondary-background);
        height: 120px;
        background-size: 70px 70px;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 4px;
        margin-bottom: 30px;
    }

    @media screen and (min-width: 768px) {
        width: calc((100% - 30px) / 2);
    }
    @media screen and (min-width: 1200px) {
        width: calc((100% - 90px) / 4);
    }
    // flex-basis: calc(100% / 4 - var(--common-margin));
    // margin-left: var(--common-margin);
}

.features__name {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;

    margin-bottom: 10px;

    @media screen and (min-width: 768px) {
        text-align: left;
    }

    // width: 270px;
    // height: 16px;
}

.features__text {
    line-height: 1.71;

    // width: 270px;
    // height: 75px;
}

@include generateIcons($icons);