.hero {
    background-color: var(--hero-background);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
        url(/images/hero-mob.jpg);
    @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                        rgba(47, 48, 58, 0.4)),
                    url(/images/hero-mob@2x.jpg);
        }

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1600px;
    margin: 0 auto;

    padding-top: 118px;
    padding-bottom: 118px;

    @media screen and (min-width: 481px) and (max-width: 768px) {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
            url(/images/hero-tab.jpg);
        @media (min-device-pixel-ratio: 2),
            (-webkit-min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                        rgba(47, 48, 58, 0.4)),
                    url(/images/hero-tab@2x.jpg);
            }
    }

    @media screen and (min-width: 769px) {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
            url(/images/hero-desk.jpg);
        @media (min-device-pixel-ratio: 2),
            (-webkit-min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                        rgba(47, 48, 58, 0.4)),
                    url(/images/hero-desk@2x.jpg);
            }
    }

    @media screen and (min-width: 1200px) {
        padding-top: 200px;
        padding-bottom: 200px;
    }
}

.hero__title {
    color: var(--primary-background);
    margin: 0 auto var(--common-margin);

    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    max-width: 360px;

    @media screen and (min-width: 1200px) {
        font-size: 44px;
        line-height: 1.36;
        max-width: 696px;
    }
}

.hero__btn {
    @extend .button;
    display: block;
    padding: 10px 32px;
    margin: 0 auto;
}