.menu-open-btn {
    background-color: transparent;
    border: none;
    padding: 0;
    margin-left: auto;
    display: flex;
    align-items: center;
    @media screen and (min-width: 768px) {
        display: none;
    }
}

.menu-open-icon:hover,
.menu-open-icon:focus {
    fill: var(--accent-color);
}


.mob-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--primary-background);
    z-index: 1;

    > .container {
        position: relative;
        padding-top: 48px;
        padding-bottom: 48px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

.menu-close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 0;
    background-color: transparent;
    border: none;
}

.menu-close-icon:hover,
.menu-close-icon:focus {
    fill: var(--accent-color);
}

.mod-menu__item {
    &:not(:last-child) {
        margin-bottom: 32px;
    }
}

.mob-menu__link {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.02em;
    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.mob-contacts {
    margin-bottom: 64px;
}

.mob-contacts__item {
    &:not(:last-child) {
        margin-bottom: 32px;
    }
}

.mob-contacts__item:first-child > .mob-contacts__link {
    font-size: 34px;
    line-height: 1.18;
}

.mob-contacts__link {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.mob-soc {
    display: flex;
    flex-wrap: wrap;
}

.mob-soc__item:not(:last-child) {
    padding-right: 10px;
    margin-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mob-soc__link {
    color: var(--accent-color);
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}