.site-nav {
    display: flex;
    align-items: center;
}

.site-nav__list {
    display: none;
    @media screen and (min-width: 768px) {
        display: flex;
    }
}

.site-nav__item {
    &:not(:last-child) {
        @media screen and (min-width: 768px) {
            margin-right: 50px;
        }
    }
}

.site-nav__link {
    color: var(--title-text-color);

    padding-top: 32px;
    padding-bottom: 32px;
    position: relative;

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }

    &--current {
        color: var(--accent-color);
    }

    &--current::after {
        content: "";
        background-color: var(--accent-color);
        display: block;
        position: absolute;
        bottom: -1px;
        
        width: 100%;
        height: 4px;
        border-radius: 2px;
    }
}