h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--title-text-color);
    margin-top: 0;
}

img {
    display: block;
    max-width: 100%;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.no-scroll {
    overflow: hidden;
}