:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196f3;
    --primary-background: #ffffff;
    --secondary-background: #f5f4fa;
    --hero-background: #2f303a;
    --logo-black: #000000;
    --header-border-color: #ececec;
    --icon-primary-color: #afb1b8;
    --icon-secondary-color: #ffffff;
    --white-text-color: #ffffff;
    --common-padding: 94px;
    --common-margin: 30px;
    --common-padding-mobile: 60px;
}

$icons: "antenna", "clock", "diagram", "astronaut";